/* style.css */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

button {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px 5px;
    margin: 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5e5e5e;
}

.center-text {
    text-align: center;
    margin: 10px;
}

.fixed-window {
    position: fixed; /* Keeps the window fixed during scrolling */
    top: 0px; /* Distance from the top of the viewport */
    right: center; /* Distance from the right of the viewport */
    width: 200px; /* Set the width of the fixed window */
    height: 300px; /* Set the height of the fixed window */
    border: 2px solid #ffffff; /* Optional: adds a border around the window */
    overflow: hidden; /* Ensures the content does not spill out of the window */
    padding: 15px; /* Optional: adds some space inside the window */
    background-color: #d8d8d8; /* Optional: background color */
}

.fixed-window img {
    width: 100%; /* Makes the image fully occupy the fixed window's width */
    height: auto; /* Keeps the image aspect ratio intact */
}

.content {
    margin-top: 350px; /* Just to demonstrate scrolling, adjust as needed */
}

#model-container {
    width: 600px;
    height: 400px;
    margin: auto;
}
