/* style.css */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100vh;
    background-color: #f1f1f1;
}

.layout-container {
    display: flex;
    width: 100%; /* Take up full width of the screen */
    height: 100vh; /* Adjust height as needed */
    align-items: stretch; /* Ensure children fill the container height */
}

.fields-container, .images-container, .render-window {
    flex: 1; /* Each container takes up 1/3 of the available space */
    padding: 20px; /* Consistent padding */
    box-sizing: border-box; /* Include padding and border in the element's total dimensions */
    /* Add additional styling as needed, e.g., padding, border, etc. */
}

#analiza {
    align-self: center;
}

#text_ajutator {
    font-size: 12px;
    font-style: italic;
}

.fields-container {
    max-width: 33.33%; /* or another fixed size */
    width: 100%; /* This can help ensure it fills up its designated space without shrinking or expanding */
    display: flex;
    justify-content: center;
    align-items: center; /* This will vertically center the content */
    height: 100%; /* Adjust based on your design */
    padding: 20px;
    box-sizing: border-box;
}

.form-content input[type="number"], .form-content button {
    width: 100%; /* Ensures full width within the .form-content container */
    padding: 10px; /* Adjust padding as needed */
    margin-bottom: 10px; /* Provides consistent spacing between elements */
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.form-content fieldset {
    width: 100%; /* Ensures the fieldset takes full width of .form-content */
    padding: 0; /* Removes padding inside fieldset to align edges of inputs/buttons */
    margin-bottom: 20px; /* Consistent bottom margin for spacing */
    border: none; /* Optionally remove border for a cleaner look */
}

.form-content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch; /* Ensure children fill the container height */
}

fieldset {
    margin-bottom: 20px; /* Space between fieldsets */
    padding: 10px; /* Padding inside the fieldset */
    border: 0px solid #ccc; /* Light grey border for the fieldset */
}

legend {
    padding: 0 10px; /* Padding on the sides of the legend text */
    color: #333; /* Dark text color for contrast */
    font-weight: bold; /* Make the legend text bold */
}

input[type="number"], button {
    width: 100%; /* This ensures they fill the .form-content container */
    padding: 10px;
    margin: 10px 0; /* Adds some space between inputs/buttons */
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #000000; /* Consider adjusting if needed */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(345, 98%, 40%); /* A darker blue on hover */

}

button:active {
    background-color: #640011; /* Darker blue when clicked */
    color: #fff; /* Keep text color white */
}

#C1_outputArea, #C2_outputArea, #C3_outputArea, #C4_outputArea, #C5_outputArea {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: none; /* Consistency with fieldset border */
    border-radius: 5px;
    overflow: auto; /* Ensures content can be scrolled if overflow */
    max-height: 150px; /* Optional: Sets a max height for scrolling */
}

.images-container {
    background-color: #ffffff; /* Light background for visibility */
    border-left:5px solid rgb(0, 0, 0);
    border-right:5px solid rgb(0, 0, 0);
}

.images-container img {
    max-width: 60%; /* Reduce image size to 50% of its container's width */
    height: auto; /* Adjust height automatically to maintain aspect ratio */
    display: block; /* Display block to allow margin auto to work */
    margin: 0 auto; /* Center the image horizontally within its container */
}

#model-container {
    width: 853px; /* One-third of 2560px screen width */
    height: 1440px; /* Full height for a 1440px screen height */
    margin: auto;
    position: fixed;
    top: 0px; /* Align to the top */
    right: 0px; /* Align to the right */
    
}

#buttons-container {
    position: fixed; /* Or 'absolute' if positioning relative to a specific parent container */
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    z-index: 1000; /* Ensure it's above other content */
    padding: 10px 20px; /* Optional: adds some space around the buttons */
    border-radius: 50px;
    margin-bottom: 15px;
}

.bottom-left-buttons {
    position: fixed; /* Keeps the container fixed in the viewport */
    bottom: 0; /* Aligns the container to the bottom of the viewport */
    left: 0; /* Aligns the container to the left of the viewport */
    display: flex;
    flex-direction: column; /* Stacks buttons vertically */
    padding: 10px; /* Adds some padding around the buttons */
    z-index: 1000; /* Ensures the buttons are visible above other content */
}
