* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url('../00_textura/TEXTURA.jpg'); /* Path to the image */
    background-size: cover; /* Adjusts the size of the image to cover the entire background */
    background-repeat: no-repeat; /* Ensures the texture doesn't repeat */
    background-position: center; /* Centers the texture on the page */
    background-attachment: scroll; /* Keeps the texture fixed when scrolling */
    margin: 0;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container_mother {
    background-color: #f4f4f400;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

#titlu_disertatie {
    display: inline-block;
    background-color: transparent;  /* Blue background */
    color: rgb(0, 0, 0);               /* White text */
    padding: 10px 20px;         /* Padding to make it look like a button */
    text-align: center;
    text-decoration: none;      /* Remove underline */
    border-radius: 5px;         /* Rounded corners */
    font-size: 18px;            /* Adjust font size */
    margin: 10px 0;             /* Margin around the button */
    cursor: pointer;            /* Pointer cursor on hover */
}

#titlu_disertatie:hover {
    color: rgb(208, 0, 0);
}

.container_titlu {
    font-size: 14px;
    color: black;
    margin-bottom: 50px;
}

.container_content {
    font-size: 18px;
    font-weight: normal;
    color: black;
    margin-bottom: 20px;
}

.container_butoane {
    font-size: 25px;
    font-weight: bold;
        color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.container_butoane_1 button {
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}
.container_butoane_1 button:hover {
    background-color: rgb(208, 0, 0); /* Darker shade of blue on hover */
    color: white;
}
.container_butoane_2 button {
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 8px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    max-width: 75px;
    margin: 0px;
}
.container_butoane_2 button:hover {
    background-color: rgb(208, 0, 0); /* Darker shade of blue on hover */
    color: white;
    transition: background-color 0.3s ease;
}
.container_disclaimer {
    font-size: 14px;
    font-style: italic;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}